<form action="/graph" method="get">
  <input title="Start point"
         name="start_point"
         type="text"
         value="<%= start_point %>"/>
  <input title="End point"
         name="end_point"
         type="text"
         value="<%= end_point %>"/>
  <input title="Window width"
         name="window_width"
         type="text"
         value="<%= window_width %>"/>
  <input title="Give up after"
         name="give_up_after"
         type="text"
         value="<%= give_up_after %>"/>
  <input title="OHLC"
         name="ohlc_select"
         type="checkbox"
         <%= ohlc.nil? ? '' : 'checked' %>/>
  <input title="Seperate"
         name="others_select"
         type="checkbox"
         <%= seperate_lines ? 'checked' : '' %>/>
 <input title="Days Previous"
        name="days_previous"
        type="text"
        value="<%= days_previous %>"/>
 <input title="Min AB Window Width"
        name="min_a_b_window_width"
        type="text"
        value="<%= min_a_b_window_width %>"/>
  <input type="submit" value="Submit" />
</form>

<div id="container" style="height: 900px; min-width: 600px">
  Loading...
</div>

<script>
$(function () {
  $('#container').highcharts('StockChart', {

    rangeSelector : {
      selected : 4
    },

    title : {
      text : "<%= filename %>"
    },

    xAxis: {
      type: 'datetime',
    },

    series : [
    <% if seperate_lines %>
    {
      name : 'high',
      data : <%= high.to_json %>,
      id : 'dataseries'
    }, {
      name : 'open',
      data : <%= open.to_json %>
    }, {
      name : 'close',
      data : <%= close.to_json %>
    }, {
      name : 'low',
      data : <%= low.to_json %>
    },
    <% end %>
    {
      name : '20 Day',
      data : <%= avg20d.to_json %>
    }, {
      name : '50 Day',
      data : <%= avg50d.to_json %>
    }, {
      name : 'OHLC',
      type : 'ohlc',
      data : <%= ohlc.to_json %>
    }, {
      type : 'flags',
      data : <%= data_labels.to_json %>,
      onSeries : 'dataseries',
      shape : 'squarepin',
    },
    <% angles.each do |d| %>
      <% d.each do |name, data| %>
        {
          name : "<%= name %>",
          data : <%= data.to_json %>
        },
      <% end %>
    <% end %>
    ]
  });
});
</script>
